/*cursos */

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  margin-bottom: 1%;
}

/* .conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
} */

/*reponsivo*/

@media screen and (max-width: 1000px) {

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }
  .conteudoPrincipal-cursos-link {
    width: 100%;
  
  }

}