/*Sobre */
.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-left: 0;
}
.videoSobre .container {
  display: flex;
  flex-wrap: wrap;
}

.videoSobre-sobre{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  text-align: center;
}

.videoSobre-sobre-list {
  flex-grow: 1;
}


.videoSobre-video {
  flex-grow: 1;
  width: 450px;
}
